/* Personal CSS */

/* Authors: @fnbellomo
            @Lisax525
 */

/****************************************
 * Base structure
 ****************************************/
body {
    font-family: Helvetica, Arial;
}

.site-name {
    font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
}

body {
    font-size: 15px;
    line-height: 1.50;
    color: #333333;
    text-align: center;
}

.list-icons {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    font-size: 18px;
}

.list-icons li {
    padding: 0 0 15px 0;
}

blockquote {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
}

.title {
    margin-top: 0;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

/****************************************
 * NavBar
 ****************************************/
.navbar-inverse {
    background-color: #000;
}

.navbar-brand > img {
    display: block;
    max-width:250px;
    margin-top: -10px;
}

.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}

.navbar-custom {
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-nav > li > a {
    font-weight: bold;
}
/****************************************
 * Buttons
 ****************************************/
.btn {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    min-width: 160px;
    text-align: center;
    border-radius: 0;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-default {
    color: #55acee;
    border: 1px solid #cccccc;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #339BEB;
    border-color: #339BEB;
}

.btn-online {
    font-size: 20px;
}

/****************************************
 * Social
 ****************************************/
.social-links {
    padding: 0;
    list-style: none;
    margin: 15px 0;
}

.social-links li {
    margin: 10px 25px 10px 0;
    display: inline-block;
    font-size: 36px;
}

.social-links li a {
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.social-links li.twitter a:hover {
    color: #55acee;
}

.social-links li.flickr a:hover {
    color: #ff0084;
}

.social-links li.facebook a:hover {
    color: #3b5998;
}

.social-links li.youtube a:hover {
    color: #b31217;
}

.social-links li.email a:hover {
    color: #b31217;
}
/****************************************
 * Cover Carousel
 ***************************************/
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner .item {
    width: 100%;
    height: 100%;
}

.carousel-caption h1.hidden-xs {
    margin-top: 5%;
    text-align: left;
    padding-left: -30%;
    font-size: 65px;
}

.carousel-caption h1.visible-sm {
    margin-top: 15%;
    text-align: left;
    padding-left: 10%;
    font-size: 40px;
}

.carousel-caption h1.visible-xs {
    margin-top: 30%;
    text-align: left;
    padding-left: 10%;
    font-size: 30px;
}

/* Background images */
.ad1 {
    background: url(../img/carousel/puente.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad2 {
    background: url(../img/carousel/mesa.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad3 {
    background: url(../img/carousel/cole.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad4 {
    background: url(../img/carousel/baranda.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad5 {
    background: url(../img/carousel/iglesia.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad6 {
    background: url(../img/carousel/plaza.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad7 {
    background: url(../img/carousel/plaza2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad8 {
    background: url(../img/carousel/reja.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.clock {
    padding-top: 120px;
    text-align: center;
}

.timer_box {
    margin: 35px 24px;
    display: inline-block;
    padding: 20px 12px 0px 12px;
    text-align: center;
    width: 130px;
    border-radius: 50%;
    border: 4px solid #fff;
}

.timer_box h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-success {
    font-weight: bold;
    font-size: 20px;
    border-radius: 10%;
    white-space:normal !important;
    max-width:100px;
    box-shadow: 3px 3px 5px #000;
}

/****************************************
 * Fondo
 ***************************************/
.fondo {
    background-image: url("../img/overlay3.svg"), linear-gradient(45deg, #9DC66B 20%, #4FA49A 40%, #4361C2);
    padding-bottom: 50px;
}

/****************************************
 * Anuncio
 ***************************************/
.anuncio {
    text-aling: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.anuncio h2 {
    color: #292636;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1.3em;
}

.anuncio h3 {
    font-size: 25px;
    letter-spacing: -0.02em;
    line-height: 1.6em;
}
/****************************************
 * Oradores
 ***************************************/
.box-speakers{
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 3px 4px 15px -6px #000;
    margin-top: 20px;
    padding: 20px 25px;
    position: relative;
}

.box-speakers h1 {
    color: #292636;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1.3em;
    margin: 0px 0px 20px;
    border-bottom: 1px solid #D4DFF6;
    padding: 0px 15px 18px;
}

.box-speakers h4 {
    font-weight: bold;
}

.box-speakers p {
    color: #87818C;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1.6em;
    padding: 0px 15px;
}

/****************************************
 * Ejemplos
 ***************************************/
.talk_grid_top {
    padding-top: 30px;
}

.talk_grid_top h1{
    font-size: 60px;
    font-weight: bold;
    color:black;
    font-family: "bodonistd",serif;
    font-style: italic; 
    padding-bottom:30px;
}

.talk_grid_bottom {
    padding-bottom: 3px
}

.talk_grid {
    padding-left: 0px;
    padding-right: 0px;
}

.talk_sub_grid {
    margin-right: 0px;
    margin-left: 0px;
}

.talk_title_content {
    padding: 3px;
    height: 100%;
}

.talk_grid img {
    width: 100%;
    top: 0px;
    left: 0px;
}

.talk_tile_overlay {
    background-image: linear-gradient(to bottom, transparent 20%, #000);
    height: 100%;
    width: 99%;
    position: absolute;
    top: 0px;
}

.talk-grid__tile__details {
    font-size: 1.07143rem;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
    color: #FFF;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.talk-grid__tile__details__speaker {
    font-weight: 400;
    display: block;
    font-size: 20px;
}

/****************************************
 * Ejemplos
 ***************************************/
.videos-ej {
    padding-top: 50px;
}


/****************************************
 * Por que TED y TEDx
 ***************************************/
#ted {
    background-image: url("../img/creation-04.jpg");
    width: 100%;
    height: 700px;
    padding-top : 100px;
    padding-bottom: 100px;
}

#tedx {
    background-color: rgb(0, 0, 0);
    background-image: url("../img/dibujos/Esta_llegando_edit.png");
    width: 100%;
    height: 700px;
    padding-top : 100px;
}

.box-def {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 3px 4px 15px -6px #000;
    padding: 20px 25px;
    position: relative;
}

.box-def h1 {
    color: #292636;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1.3em;
    margin: 0px 0px 20px;
    border-bottom: 1px solid #D4DFF6;
    padding: 0px 15px 18px;
}

.box-def p {
    color: #87818C;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1.6em;
    padding: 0px 15px;
}
/****************************************
 * Integrantes
 ***************************************/
.integrantes {
    background: linear-gradient(45deg, #9DC66B 40%, #4FA49A 80%, #4361C2);
    padding-top: 30px;
    padding-bottom: 30px;
}

#equipo h1 {
    color: #292636;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.02em;
    line-height: 1.3em;
}

#equipo h3 {
    color: #292636;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.02em;
    line-height: 1.6em;
}

#equipo h4 {
    text-align: center;
}

.box-def img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/****************************************
 * Auspiciantes
 ***************************************/
.auspiciantes {
    text-align: left;
    padding-top: 80px;
    padding-bottom: 5px;
    font-size: 50px;
}

.auspiciantes h1 {
    color: #e62b1e;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 2px solid #e62b1e;
}


/****************************************
 * Letter
 ***************************************/
.letter {
    padding-top: 100px;
    font-size: 20px;
    text-align: justify;
}

.letter-header {
    text-align: right;
}

.letter h3, h4 {
    text-align: right;
}

.letter h3 {
    padding-right: 10%;
}

/****************************************
 * Historietas
 ***************************************/
.historietas {
    padding-top: 50px;
    padding-bottom: 50px;
}

.historietas > .container > .row {
    padding-top : 50px;
}

.historietas > .container > .h1 {
    font-weight: bold
}


/****************************************
 * Prensa
 ***************************************/
.prensa {
    text-align: left;
}

.prensa-titulo {
    background-image: url("../img/noticia2.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 70px;
    padding-bottom: 50px;
}

.prensa-titulo h1{
    font-size: 70px;
    font-weight: bold;
}

.prensa-img h2{
    font-size: 50px;
}

.prensa-img {
    margin-bottom: 20px;
    margin-top: 100px;
    padding-top: 120px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 5px;
    background-size: cover;
    color: white;
}

.prensa-entrada p {
    font-size: 18px;
    line-height: 180%;
    font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.prensa-tag {
    display: block;
}

.prensa-tag ul {
    padding-left: 0px;
    list-style-type: none;
}

.prensa-tag ul li {
    display: inline-block;
    margin-right: 14px;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}


/****************************************
 * Videos
 ***************************************/
.videos {
    text-align: left;
}

.videos-titulo {
    background-image: url("../img/auspiciantes/reja.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 70px;
    padding-bottom: 50px;
}

.videos-titulo h1{
    font-size: 60px;
    font-weight: bold;
}

.video h2 {
    font-size: 40px;
    font-weight: bold;
    font-weight: 900;
    letter-spacing: -0.03em;
    line-height: 1.15;
}

.video h3 {
    font-size: 30px;
    font-weight: 400;
}

.video-content p {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 300;
}

/****************************************
 * Footer
 ***************************************/
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000;
    color: #fff;
}