---
title: Inicio
layout: default
imgs:
  - "ad4"
  - "ad2"
  - "ad6"
offset: [0, 3, 6]
---

{% include cover_carousel.html %}
{% include anuncio_auspiciante.html %}

<!-- Speakers -->
<!-- ======== -->
<div class="oradores">
  <div class="container-fluid">

    <div class="col-sm-9">
      <section>
	<h2 class="header-hidden">Oradores</h2>

	{% for off in page.offset %}
	<div class="row">
	  {% for speaker in site.data.speakers limit:3 offset:off %}
	  <div class="col-sm-4 col-md-4 {% if off == 6 %} col-md-offset-4 col-sm-offset-4 {% endif %}">
	    <div class="box-speakers">
	      <h3 class="header-hidden">{{ speaker.nombre }}</h3>
	      <img src="/img/oradores/{{ speaker.img }}" class="img-responsive" alt="{{ speaker.nombre}}">
	      <h4>{{ speaker.charla }}</h4>


	      <!-- Button trigger modal -->
	      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Modal-{{ forloop.index | plus:off}}">Clickeame!</button>

	      <!-- Modal -->
	      <div class="modal fade bs-example-modal-lg" id="Modal-{{ forloop.index  | plus:off}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
		      </button>
		      <p class="modal-title" id="myModalLabel">{{ speaker.nombre }}</p>
		    </div><!--/modal-header -->
		    <div class="modal-body">
		      <div class="row">
			<div class="col-md-4">
			  <img src="/img/oradores/{{ speaker.img }}" class="img-responsive" alt="{{ speaker.img }}" style="padding-bottom: 20px;">

			  {% if speaker.face %}
			  <a target="_blank" href="{{ speaker.face }}"><i class="fa fa-facebook fa-2x"></i></a>
			  {% endif %}
			  {% if speaker.twitter %}
			  <a target="_blank" href="{{ speaker.twitter }}"><i class="fa fa-twitter fa-2x"></i></a>
			  {% endif %}
			  
			  
			</div><!--/col-md-4 -->
			<div class="col-md-8">
			  <h4 class="header-hidden">Historia</h4>
			  <p>{{ speaker.descripcion }}</p>
			</div><!--/col-md-8 -->
		      </div><!--/row -->
		    </div><!--/modal-body -->
		    <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">
			Close
		      </button>
		    </div><!--/modal-footer -->
		  </div><!--/modal-content -->
		</div><!--/modal-dialog -->
	      </div><!--/modal -->
	    </div><!--/box-def -->
	  </div><!--/col-md -->
	  {% endfor %}
	</div><!--/row -->
	{% endfor %}
	
      </section>
    </div><!--/col-sm-9 -->

    <div class="col-sm-3">
      <aside>
	<h2 class="header-hidden">Twitter y Face TimeLine</h2>
	{% include twitter.html %}
	{% include face.html %}
      </aside>
    </div><!--/col-sm-3 -->
    
  </div><!--/container-fluid -->
</div><!--/oradores -->


<!-- Videos TEDx Ejemplo -->
<!-- =================== -->
<div class="talk_grid">
  <div class="container-fluid">
    <h3>"Ideas que Cambian el Mundo"</h3>
    
    <!-- Fila 1 -->
    <div class="row">

      <!-- Columna 1 - Imagen 1 grande -->
      <div class="col-xs-12 col-sm-6 col-md-6 talk_grid_lv1">
	{% assign talk = site.data.talk_grid[4] %}
	{% include talk_grid.html %}
      </div><!--/col-xs-12 col-sm-6 -->

      <!-- Columna 2 - dos imagenes chicas -->
      <div class="col-xs-12 col-sm-6 col-md-6 talk_grid_lv1">
	<div class="row" style="margin: 0px;">
	  <!-- Columana 2-1 - Imagen 2 -->
	  <div class="col-xs-12 col-sm-6 col-md-6 talk_grid_lv2">
	    {% assign talk = site.data.talk_grid[0] %}
	    {% include talk_grid.html %}
	  </div><!--/col-xs-12 col-sm-6 -->
	  <!-- Columna 2-2 - Imagen 3 -->
	  <div class="col-xs-12 col-sm-6 col-md-6 talk_grid_lv2">
	    {% assign talk = site.data.talk_grid[6] %}
	    {% include talk_grid.html %}
	  </div><!--/col-xs-12 col-sm-6 -->
	</div><!--/row -->

	<div class="row"  style="margin: 0px;">
	  <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3 talk_grid_lv2">
	    {% assign talk = site.data.talk_grid[5] %}
	    {% include talk_grid.html %}
	  </div><!--/col-xs-12 col-sm-6 -->
	</div><!--/row -->
	
      </div><!--/col-xs-12 col-sm-6 -->
    </div><!--/row -->

    <!-- Fila 2 -->
    <div class="row">

      <!-- Columna 1 - dos imagenes chicas -->
      <div class="col-xs-12 col-sm-6 col-md-6 talk_grid_lv1">
	<div class="row" style="margin: 0px;">

	  <!-- Columana 1-1 - Imagen 5 -->
	  <div class="col-xs-12 col-sm-6 col-md-6 talk_grid_lv2">
	    {% assign talk = site.data.talk_grid[2] %}
	    {% include talk_grid.html %}
	  </div><!--/col-xs-12 col-sm-6 -->
	  <!-- Columna 1-2 - Imagen 6 -->
	  <div class="col-xs-12 col-sm-6 col-md-6 talk_grid_lv2">
	    {% assign talk = site.data.talk_grid[3] %}
	    {% include talk_grid.html %}
	  </div><!--/col-xs-12 col-sm-6 -->
	</div><!--/row -->
      </div><!--/col-xs-12 col-sm-6 -->

      <!-- Columna 2 - Imagen 7 grande -->
      <div class="col-xs-12 col-sm-6 col-md-6 talk_grid_lv1">
	{% assign talk = site.data.talk_grid[1] %}
	{% include talk_grid.html %}
      </div><!--/col-xs-12 col-sm-6 -->
    </div><!--/row -->

  </div><!--/container-fluid -->
</div><!--/talk_grid -->
