<!-- footer -->
<!-- ====== -->
<footer id="footer">
  <h2 class="header-hidden">Footer</h2>
  <div class="footer section">
    <div class="container">
      <h3 class="title text-center" id="contact">Contactanos</h3>

      <ul class="social-links">
 	<li class="facebook">
	  <a target="_blank" href="https://www.facebook.com/TEDxRioCuarto"><i class="fa fa-facebook"></i></a>
	</li>
	
	<li class="twitter">
	  <a target="_blank" href="https://twitter.com/TEDxRioCuarto"><i class="fa fa-twitter"></i></a>
	</li>
	
	<li class="email">
	  <a target="_blank" href="mailto:info@tedxriocuarto.com.ar"><i class="fa fa-envelope-o"></i></a>
	</li>
	
	<li class="youtube">
	  <a target="_blank" href="https://youtube.com/user/TEDxTalks"><i class="fa fa-youtube"></i></a>
	</li>
	
	<li class="flickr">
	  <a target="_blank" href="https://flickr.com/#"><i class="fa fa-flickr"></i></a>
	</li>
      </ul>

      <div class="footer-texto">
	<h3 class="header-hidden">Derechos TEDx</h3>
	<p>Todos los derechos reservados <strong>TEDx</strong><b>RíoCuarto</b> 2015-2016</p>
	<p>Este evento <strong>TEDx</strong> Independiente es organizado bajo licencia de TED</p>
      </div><!--/footer-texto -->
	
    </div><!--/container -->
  </div><!--/footer -->
</footer>
