/* Personal CSS */

/* Authors: @fnabellomo
            @Lisax525
 */

/****************************************
 * Base structure
 ****************************************/
body {
    font-family: Helvetica, Arial;
}

.site-name {
    font-family: 'Raleway', sans-serif;
}

html, body {
  height: 100%;
}

body {
  font-size: 15px;
  line-height: 1.50;
  color: #333333;
  text-align: center;
}

.list-icons {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    font-size: 18px;
}

.list-icons li {
    padding: 0 0 15px 0;
}

blockquote {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
}

.title {
    margin-top: 0;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

/****************************************
 * NavBar
 ****************************************/
.navbar-inverse {
    background-color: #000;
}

.navbar-brand > img {
    display: block;
    max-width:250px;
    margin-top: -10px;
}

.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}

.navbar-custom {
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}
/****************************************
 * Buttons
 ****************************************/
.btn {
	padding: 8px 15px;
	font-size: 14px;
	line-height: 1.42857143;
	min-width: 160px;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-default {
	color: #55acee;
	border: 1px solid #cccccc;
}

.btn-default:hover {
	color: #ffffff;
	background-color: #339BEB;
	border-color: #339BEB;
}

/****************************************
 * Social
 ****************************************/
.social-links {
    padding: 0;
    list-style: none;
    margin: 15px 0;
}

.social-links li {
    margin: 10px 25px 10px 0;
    display: inline-block;
    font-size: 36px;
}

.social-links li a {
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.social-links li.twitter a:hover {
    color: #55acee;
}

.social-links li.flickr a:hover {
    color: #ff0084;
}

.social-links li.facebook a:hover {
    color: #3b5998;
}

.social-links li.youtube a:hover {
    color: #b31217;
}

/****************************************
 * Cover Carousel
 ***************************************/
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner .item {
    width: 100%;
    height: 100%;
}

.carousel-caption h1.hidden-xs {
    margin-top: 5%;
    text-align: left;
    padding-left: -30%;
    font-size: 65px;
}

.carousel-caption h1.visible-sm {
    margin-top: 15%;
    text-align: left;
    padding-left: 10%;
    font-size: 40px;
}

.carousel-caption h1.visible-xs {
    margin-top: 30%;
    text-align: left;
    padding-left: 10%;
    font-size: 30px;
}

/* Background images */
.ad1 {
    background: url(../images/puente.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad2 {
    background: url(../images/originales/fotos/IMG_1760.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad3 {
    background: url(../images/originales/fotos/IMG_1765.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clock {
    padding-top: 120px;
    text-align: center;
}

.timer_box {
    margin: 35px 24px;
    display: inline-block;
    padding: 20px 12px 0px 12px;
    text-align: center;
    width: 130px;
    border-radius: 50%;
    border: 4px solid #fff;
}

.timer_box h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-success {
    font-weight: bold;
    font-size: 20px;
    border-radius: 10%;
    white-space:normal !important;
    max-width:100px;
    box-shadow: 3px 3px 5px #000;
}

/****************************************
 * Fondo
 ***************************************/
.fondo {
    background-image: url("../images/overlay3.svg"), linear-gradient(45deg, #9DC66B 20%, #4FA49A 40%, #4361C2);
    padding-bottom: 50px;
}

/****************************************
 * Anuncio
 ***************************************/
.anuncio {
    text-aling: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.anuncio h2 {
    color: #292636;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1.3em;
}

.anuncio h3 {
    font-size: 25px;
    letter-spacing: -0.02em;
    line-height: 1.6em;
}
/****************************************
 * Oradores
 ***************************************/
.oradores {
    padding-top: 50px;
}

/****************************************
 * Ejemplos
 ***************************************/
.videos-ej {
    padding-top: 50px;
}

/****************************************
 * Por que TED y TEDx
 ***************************************/
#ted {
    background-image: url("../images/creation.jpg");
    width: 100%;
    height: 700px;
    padding-top : 100px;
    padding-bottom: 100px;
}

#tedx {
    background-image: url("../images/creation-04.jpg");
    width: 100%;
    height: 700px;
    padding-top : 100px;
}

.box-def {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 3px 4px 15px -6px #000;
    padding: 20px 25px;
    position: relative;
}

.box-def h1 {
    border-bottom: 1px solid #D4DFF6;
    color: #292636;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1.3em;
    margin: 0px 0px 20px;
    padding: 0px 15px 18px;
}

.box-def p {
    color: #87818C;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1.6em;
    padding: 0px 15px;
}
/****************************************
 * Integrantes
 ***************************************/
.integrantes {
     background: linear-gradient(45deg, #9DC66B 40%, #4FA49A 80%, #4361C2);
    padding-top: 30px;
    padding-bottom: 30px;
}

#equipo h1 {
    color: #292636;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1.3em;
}

#equipo h3 {
    color: #292636;
    font-size: 25px;
    letter-spacing: -0.02em;
    line-height: 1.6em;
}

.box-def img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/****************************************
 * Auspiciantes
 ***************************************/
.auspiciantes {
    background-color: rgba(255,255,255,0.5);
    padding: 0px 20px 20px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.dorado img.img-responsive {
    max-width: 90%;
}

.plata img.img-responsive {
    max-width: 70%;
}

.bronce img.img-responsive {
    max-width: 50%;
}

/****************************************
 * Footer
 ***************************************/
.footer {
    padding-top: 50px;
    padding-botton: 50px;
    background-color: #000;
    color: #fff;
}

.subfooter {
    padding-top: 20px;
    background: linear-gradient(45deg, #9DC66B 40%, #4FA49A 80%, #4361C2);
}

.subfooter p {
    color: white;
    text-align: center;
    font-weight: 400;
}